<div class="row py-5 px-4">
  <div class="col-md-10 mx-auto">
    <!-- Profile widget -->
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="mb-4 px-4 pt-0 pb-4 cover">
        <div class="media align-items-center profile-head .mx-auto">
          <div class="profile mr-3 .mx-auto">
            <img
              [src]="(authService.getPhotoUrl() ||
            './assets/profile.png' )"
              alt="..."
              width="130"
              class="rounded mb-2 img-thumbnail .my-auto"
            /><a href="#" id="b1" class="btn btn-outline-dark btn-sm btn-block"
              >Edit profile</a
            >
          </div>
          <div class="media-body mb-5 text-white">
            <h4 class="mt-0 mb-4">{{displayName}}</h4>
          </div>
          <div
            class="bg-transparent p-4 d-flex justify-content-end text-center"
          >
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <h5 class="text-white font-weight-bold mb-0 d-block">
                  {{entries.length}}
                </h5>
                <small class="text-white font-weight-bold">
                  <i class="fas fa-image mr-1"></i>ATTEMPTED QUIZZES</small
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="px-4 py-4">
        <h5 class="mx-auto py-4">About</h5>
        <div class="card rounded bg-transparent border-transparent mb-3 p-2">
          <div class="">
            Name:
            <input class="mx-4" type="text" [(ngModel)]="displayName" />
            <button
              (click)="updateDisplayName()"
              id="b1"
              class="btn btn-outline-dark btn-sm px-4"
            >
              Update
            </button>
          </div>
          <br />
          <div>
            Email:
            <p class="mx-4" style="display: inline">
              {{authService.getEmail()}}
            </p>
          </div>
        </div>
      </div>
      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="ml-2">Recent Quizes Attempts</h5>
          <a class="btn btn-link text-muted" (click)="show()">Show all</a>
        </div>

        <!-- If Quiz List is empty -->
        <div class="text-center" *ngIf="!entries?.length">
          <p class="text-danger">No Quiz Attempted</p>
        </div>

        <div class="card-deck m-4" *ngIf="entries?.length">
          <div id="cards" *ngFor="let entry of entries.slice().reverse(); let i = index">
            <div
              class="card text-center col-12 mt-4 ml-4 mr-4"
              [ngClass]="entry.user.score > 6 ? 'border-success text-success': 'border-danger text-danger'"
            >
              <div class="card-header">
                {{entry.quiz.category}}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{entry.quiz.name}}</h5>
                <p class="card-text">
                  Score : {{entry.user.score}} / {{entry.user.answers.length}}
                </p>
                <p>Result: {{entry.user.score <= 6 ? "Failed" : "Passed"}}</p>
                <p>
                  Attempted on : {{entry.user.date?.toMillis() | date:'dd/MM/yyyy'}}
                </p>
                <a
                  href="#"
                  class="btn text-white bg-success btn-outline-light btn-sm btn-block"
                  [routerLink]="['/history', entry.user.category, entry.user.quizId, entry.user.date.toMillis()]"
                  (click)="setEntryToService(entry)"
                  >Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
