<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- subject list menu for selecting subjects -->
<div class="navdiv">
    <ul class="navbar-nav" >
        <span  *ngFor="let string of navlist">
            <a [routerLink]="['subject/',string] " routerLinkActive="myactive"> {{string}} </a>
        </span>
    </ul>
</div>

<!-- this outlet will print all quizes which user can take -->
<router-outlet></router-outlet>