<div id="resultdiv">

    <div *ngIf="isPassed(); else failed">
        <img id="resimg" src="./../assets/result_img_pass.png"/><br/>
        Congratulations {{username}}!!!<br/>
        You have successfully passed the test with the score of <br/>
    </div>

    <ng-template #failed>
        <img id="resimg" src="./../assets/result_img_fail.svg"/><br/>
        Sorry {{username}}!!!<br/>
        You didn't meet the completion criteria
    </ng-template>

    <div id="score">
        {{score}}/10
    </div>
    <a routerLink="/home" id="dashboardlink">Go back to test Categories</a>
</div>
