<div id="container">
    <div id="quiz-info">
        Quiz Category: <b> {{quiz?.category}} </b>
        &nbsp;&nbsp;&nbsp;
        Difficulty Level: <b>{{quiz_level[quiz ? quiz.level : 0]}}</b>
        &nbsp;&nbsp;&nbsp;
        Quiz number: <b>{{quiz?.name}} </b>
    </div>
    <div id="question" *ngIf="quiz?.questions?.length">
        <div id="question-info">
            Question {{currentIndex+1}} Out of 10
        </div>
        <div id="question-name">
          {{quiz!.questions[currentIndex]!.text}}
        </div>
        <div class="container" style="font-size:x-large; text-align: left; padding: 5%;">
            <div>
                <ul>
                    <li *ngFor = "let option of quiz!.questions[currentIndex].options; index as i">
                        <label class="container" for="test{{i}}">{{option}}
                            <input type="radio" value={{option}} id="test{{i}}" name="radio" (click)="markAnswer(i)"
                            [checked]="wasSelected(i)">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="isStart()">
            <button id="prev_question" (click)=previousQuestion() >Previous</button>
        </div>
        <div *ngIf="isEnd(); else endTest">
            <button id="next_question" (click)=nextQuestion() >Next</button>
        </div>
        <ng-template #endTest>
            <button id="next_question" (click)=submitTest() >Submit Quiz</button>
        </ng-template>
        <br/>
        <p> </p>
    </div>
    <br />
    <p></p>
  </div>
